langchain
ipykernel
python-dotenv
langchain_community
pypdf
bs4
arxiv
pymupdf
langchain-text-splitters
langchain-openai
chromadb
faiss-cpu
langchain_chroma
langchain_groq
fastapi
uvicorn
langserve
sse_starlette